[submodule "deps/red4ext.sdk"]
	path = deps/red4ext.sdk
	url = https://github.com/WopsS/RED4ext.SDK.git
[submodule "deps/zpp_bits"]
	path = deps/zpp_bits
	url = https://github.com/eyalz800/zpp_bits
[submodule "deps/GameNetworkingSockets"]
	path = deps/GameNetworkingSockets
	url = https://github.com/ValveSoftware/GameNetworkingSockets.git
